/* ==========================================================================
   Header
   ========================================================================== */

body {
    padding-top: 112px;
}

.admin-bar .header-top {
    top: 32px;
}

.header-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    height: 72px;
    background: rgba(50, 50, 50, 0.5);
    margin-bottom: 40px;
    
    ul {
        height: 100%;
        margin: 0;
        padding: 0;
        list-style-type: none;
        
        li {
            height: 100%;
            width: calc(100% / 6);
            text-align: center;
            
            a {
                display: inline-block;
                line-height: 72px;
                height: 100%;
                width: 100%;
                border-right: 1px solid rgba(255, 255, 255, 0.2);
                font-size: 16px;
                font-weight: 700;
                color: #fff;
                
                &:hover {
                    background: $blue;
                }
            }
            
            &.current-menu-item a {
                background: $blue;
            }
            
            &:first-child a {
                border-left: 1px solid rgba(255, 255, 255, 0.2);
            }
        }
    }
}

.header-bottom {
    position: relative;
    z-index: 98;
    
    .site-branding {
        float: left;
    }
    
    .header-search {
        float: right;
    }
    
    .site-title {
        margin: 0;
        
        a {
            display: flex;
            align-items: center;
            font-size: 30px;
            font-weight: 700;
            color: #c3c3c3;
        }
        
        .logo {
            display: inline-block;
            width: 84px;
            height: 83px;
            background: url(assets/images/logo.png) no-repeat;
            margin-right: 15px;
            
            @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
                only screen and (   min--moz-device-pixel-ratio: 1.5),
                only screen and (     -o-min-device-pixel-ratio: 3/2),
                only screen and (        min-device-pixel-ratio: 1.5),
                only screen and (min-resolution: 192dpi) {
                    background: url(assets/images/logo_2x.png) no-repeat;
                    background-size: 100%;
                }

            @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
                only screen and (   min--moz-device-pixel-ratio: 1.5),
                only screen and (     -o-min-device-pixel-ratio: 3/2),
                only screen and (        min-device-pixel-ratio: 1.5),
                only screen and (min-resolution: 192dpi) {
                    background: url(assets/images/logo_3x.png) no-repeat;
                    background-size: 100%;
                }
        }
    }
    
    .search-form {
        width: 310px;
        height: 40px;
        position: relative;
        top: 20px;
        
        input[type="submit"] {
            display: none;
        }
        
        input[type="search"] {
            width: 100%;
            height: 100%;
            background: none;
            border: 1px solid #8c8c8c;
            padding: 0 15px;
            box-sizing: border-box;
            font-size: 16px;
            color: #fff;
            
            &:focus {
                outline: none;
                border: 1px solid #fff;
            }
        }
        
        label {
            width: 100%;
            height: 100%;
            position: relative;
            
            &:after {
                content: '';
                position: absolute;
                top: 3px;
                right: 15px;
                width: 15px;
                height: 15px;
                background: url(assets/images/search-icon.png) no-repeat;
                
                @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
                    only screen and (   min--moz-device-pixel-ratio: 1.5),
                    only screen and (     -o-min-device-pixel-ratio: 3/2),
                    only screen and (        min-device-pixel-ratio: 1.5),
                    only screen and (min-resolution: 192dpi) {
                        background: url(assets/images/search-icon_2x.png) no-repeat;
                        background-size: 100%;
                    }
    
                @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
                    only screen and (   min--moz-device-pixel-ratio: 1.5),
                    only screen and (     -o-min-device-pixel-ratio: 3/2),
                    only screen and (        min-device-pixel-ratio: 1.5),
                    only screen and (min-resolution: 192dpi) {
                        background: url(assets/images/search-icon_3x.png) no-repeat;
                        background-size: 100%;
                    }
            }
        }
    }
}
