/* ==========================================================================
   Header
   ========================================================================== */

body {
    padding-top: 112px;
}

.admin-bar .header-top {
    top: 32px;
}

.header-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    height: 72px;
    background: rgba(50, 50, 50, 0.5);
    margin-bottom: 40px;
    
    ul {
        height: 100%;
        margin: 0;
        padding: 0;
        list-style-type: none;
        
        li {
            height: 100%;
            width: calc(100% / 6);
            text-align: center;
            
            a {
                display: inline-block;
                line-height: 72px;
                height: 100%;
                width: 100%;
                border-right: 1px solid rgba(255, 255, 255, 0.2);
                font-size: 16px;
                font-weight: 700;
                color: #fff;
                
                &:hover {
                    background: $blue;
                }
            }
            
            &.current-menu-item a {
                background: $blue;
            }
            
            &:first-child a {
                border-left: 1px solid rgba(255, 255, 255, 0.2);
            }
        }
    }
    
    .header-social {
        display: none;
    }
}

.header-bottom {
    position: relative;
    z-index: 98;
    
    .site-branding {
        float: left;
    }
    
    .header-search {
        float: right;
    }
    
    .site-title {
        margin: 0;
        
        a {
            display: flex;
            align-items: center;
            font-size: 30px;
            font-weight: 700;
            color: #c3c3c3;
        }
        
        .logo {
            display: inline-block;
            width: 84px;
            height: 83px;
            background: url(assets/images/logo.png) no-repeat;
            margin-right: 15px;
            
            @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
                only screen and (   min--moz-device-pixel-ratio: 1.5),
                only screen and (     -o-min-device-pixel-ratio: 3/2),
                only screen and (        min-device-pixel-ratio: 1.5),
                only screen and (min-resolution: 192dpi) {
                    background: url(assets/images/logo_2x.png) no-repeat;
                    background-size: 100%;
                }

            @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
                only screen and (   min--moz-device-pixel-ratio: 1.5),
                only screen and (     -o-min-device-pixel-ratio: 3/2),
                only screen and (        min-device-pixel-ratio: 1.5),
                only screen and (min-resolution: 192dpi) {
                    background: url(assets/images/logo_3x.png) no-repeat;
                    background-size: 100%;
                }
        }
    }
    
    .search-form {
        width: 310px;
        height: 40px;
        position: relative;
        top: 20px;
        
        input[type="submit"] {
            display: none;
        }
        
        input[type="search"] {
            width: 100%;
            height: 100%;
            background: none;
            border: 1px solid #8c8c8c;
            padding: 0 15px;
            box-sizing: border-box;
            font-size: 16px;
            color: #fff;
            
            &:focus {
                outline: none;
                border: 1px solid #fff;
            }
        }
        
        label {
            width: 100%;
            height: 100%;
            position: relative;
            
            &:after {
                content: '';
                position: absolute;
                top: 3px;
                right: 15px;
                width: 15px;
                height: 15px;
                background: url(assets/images/search-icon.png) no-repeat;
                
                @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
                    only screen and (   min--moz-device-pixel-ratio: 1.5),
                    only screen and (     -o-min-device-pixel-ratio: 3/2),
                    only screen and (        min-device-pixel-ratio: 1.5),
                    only screen and (min-resolution: 192dpi) {
                        background: url(assets/images/search-icon_2x.png) no-repeat;
                        background-size: 100%;
                    }
    
                @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
                    only screen and (   min--moz-device-pixel-ratio: 1.5),
                    only screen and (     -o-min-device-pixel-ratio: 3/2),
                    only screen and (        min-device-pixel-ratio: 1.5),
                    only screen and (min-resolution: 192dpi) {
                        background: url(assets/images/search-icon_3x.png) no-repeat;
                        background-size: 100%;
                    }
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    
    body {
        padding-top: 124px;
    }
    
    .admin-bar .header-top {
        top: 46px;
    }
    
    .header-top {
        
        .container {
            padding: 0;
        }
    }
}

@media only screen and (max-width: 767px) {
    #wpadminbar {
        position: fixed !important;
    }
    
    body {
        padding-top: 72px;
    }
    
    .admin-bar .site-header {
        top: 46px;
    }
    
    .site-header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 72px;
        background: rgba(50,50,50,.5);
        z-index: 3;
    }
    
    .header-top {
        background: none;
        position: relative;
        top: 0 !important;
        width: 50%;
        margin-bottom: 0;
        float: left;
    }
    
    .main-navigation {
        height: 100%;
    }
    
    .menu-header-menu-container {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 222px;
        
        ul {
            border-right: 1px solid #6f6f71;
            height: 2560px;
            background: #242424;
            
            li {
                width: 100%;
                float: none;
                height: 56px;
                font-size: 18px;
                text-align: left;
                
                a {
                    padding-left: 22px;
                    border-bottom: 1px solid #6f6f71;
                    height: 100%;
                    line-height: 56px;
                }
            }
        }
    }
    
    .main-navigation.toggled {
        
        .menu-header-menu-container {
            display: block;
        }
        
        .header-social {
            display: block;
        }
        
        .menu-toggle {
            left: 242px;
        }   
    }
    
    .header-top.shifted {
        width: 274px;
    }
    
    .header-bottom.hidden {
        display: none;
    }
    
    .menu-toggle {
        display: block !important;
        position: relative;
        width: 32px;
        border: 0;
        background: none;
        height: 20px;
        top: 26px;
        left: 20px;
        line-height: 0;
        font-size: 0;
        padding: 0;
        
        &:focus {
            outline: none;
            box-shadow: none;
        }
        
        span {
            display: inline-block;
            width: 100%;
            height: 4px;
            background: #fff;
            margin-bottom: 4px;
            
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    
    .header-top .header-social {
        display: none;
        position: absolute;
        left: 0;
        top: 366px;
        height: 17px;
        width: 222px;
        
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            position: relative;
            display: block;
            
            li {
                float: left;
                position: relative;
                margin-right: 0;
                width: 25%;
                height: 17px;
                display: flex;
                align-items: center;
                
                &:last-child {
                    margin-right: 0;
                }
            }
            
            a {
                display: inline-block;
                border: 0 !important;
                margin: 0 auto;
            }
            
            .fb {
                width: 8px;
                height: 17px;
                background: url(assets/images/fb.png) no-repeat;
                
                @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
                    only screen and (   min--moz-device-pixel-ratio: 1.5),
                    only screen and (     -o-min-device-pixel-ratio: 3/2),
                    only screen and (        min-device-pixel-ratio: 1.5),
                    only screen and (min-resolution: 192dpi) {
                        background: url(assets/images/fb_2x.png) no-repeat;
                        background-size: 100%;
                    }
        
                @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
                    only screen and (   min--moz-device-pixel-ratio: 1.5),
                    only screen and (     -o-min-device-pixel-ratio: 3/2),
                    only screen and (        min-device-pixel-ratio: 1.5),
                    only screen and (min-resolution: 192dpi) {
                        background: url(assets/images/fb_3x.png) no-repeat;
                        background-size: 100%;
                    }
                
                &:hover {
                    background: url(assets/images/fb_hover.png) no-repeat;
                    
                    @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
                        only screen and (   min--moz-device-pixel-ratio: 1.5),
                        only screen and (     -o-min-device-pixel-ratio: 3/2),
                        only screen and (        min-device-pixel-ratio: 1.5),
                        only screen and (min-resolution: 192dpi) {
                            background: url(assets/images/fb_hover_2x.png) no-repeat;
                            background-size: 100%;
                        }
            
                    @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
                        only screen and (   min--moz-device-pixel-ratio: 1.5),
                        only screen and (     -o-min-device-pixel-ratio: 3/2),
                        only screen and (        min-device-pixel-ratio: 1.5),
                        only screen and (min-resolution: 192dpi) {
                            background: url(assets/images/fb_hover_3x.png) no-repeat;
                            background-size: 100%;
                        }
                }
            }
            
            .twit {
                width: 17px;
                height: 14px;
                background: url(assets/images/twit.png) no-repeat;
                
                @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
                    only screen and (   min--moz-device-pixel-ratio: 1.5),
                    only screen and (     -o-min-device-pixel-ratio: 3/2),
                    only screen and (        min-device-pixel-ratio: 1.5),
                    only screen and (min-resolution: 192dpi) {
                        background: url(assets/images/twit_2x.png) no-repeat;
                        background-size: 100%;
                    }
        
                @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
                    only screen and (   min--moz-device-pixel-ratio: 1.5),
                    only screen and (     -o-min-device-pixel-ratio: 3/2),
                    only screen and (        min-device-pixel-ratio: 1.5),
                    only screen and (min-resolution: 192dpi) {
                        background: url(assets/images/twit_3x.png) no-repeat;
                        background-size: 100%;
                    }
                
                &:hover {
                    background: url(assets/images/twit_hover.png) no-repeat;
                    
                    @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
                        only screen and (   min--moz-device-pixel-ratio: 1.5),
                        only screen and (     -o-min-device-pixel-ratio: 3/2),
                        only screen and (        min-device-pixel-ratio: 1.5),
                        only screen and (min-resolution: 192dpi) {
                            background: url(assets/images/twit_hover_2x.png) no-repeat;
                            background-size: 100%;
                        }
            
                    @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
                        only screen and (   min--moz-device-pixel-ratio: 1.5),
                        only screen and (     -o-min-device-pixel-ratio: 3/2),
                        only screen and (        min-device-pixel-ratio: 1.5),
                        only screen and (min-resolution: 192dpi) {
                            background: url(assets/images/twit_hover_3x.png) no-repeat;
                            background-size: 100%;
                        }
                }
            }
            
            .google {
                width: 19px;
                height: 16px;
                background: url(assets/images/google.png) no-repeat;
                
                @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
                    only screen and (   min--moz-device-pixel-ratio: 1.5),
                    only screen and (     -o-min-device-pixel-ratio: 3/2),
                    only screen and (        min-device-pixel-ratio: 1.5),
                    only screen and (min-resolution: 192dpi) {
                        background: url(assets/images/google_2x.png) no-repeat;
                        background-size: 100%;
                    }
        
                @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
                    only screen and (   min--moz-device-pixel-ratio: 1.5),
                    only screen and (     -o-min-device-pixel-ratio: 3/2),
                    only screen and (        min-device-pixel-ratio: 1.5),
                    only screen and (min-resolution: 192dpi) {
                        background: url(assets/images/google_3x.png) no-repeat;
                        background-size: 100%;
                    }
                
                &:hover {
                    background: url(assets/images/google_hover.png) no-repeat;
                    
                    @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
                        only screen and (   min--moz-device-pixel-ratio: 1.5),
                        only screen and (     -o-min-device-pixel-ratio: 3/2),
                        only screen and (        min-device-pixel-ratio: 1.5),
                        only screen and (min-resolution: 192dpi) {
                            background: url(assets/images/google_hover_2x.png) no-repeat;
                            background-size: 100%;
                        }
            
                    @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
                        only screen and (   min--moz-device-pixel-ratio: 1.5),
                        only screen and (     -o-min-device-pixel-ratio: 3/2),
                        only screen and (        min-device-pixel-ratio: 1.5),
                        only screen and (min-resolution: 192dpi) {
                            background: url(assets/images/google_hover_3x.png) no-repeat;
                            background-size: 100%;
                        }
                }
            }
            
            .youtube {
                width: 20px;
                height: 15px;
                background: url(assets/images/youtube.png) no-repeat;
                
                @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
                    only screen and (   min--moz-device-pixel-ratio: 1.5),
                    only screen and (     -o-min-device-pixel-ratio: 3/2),
                    only screen and (        min-device-pixel-ratio: 1.5),
                    only screen and (min-resolution: 192dpi) {
                        background: url(assets/images/youtube_2x.png) no-repeat;
                        background-size: 100%;
                    }
        
                @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
                    only screen and (   min--moz-device-pixel-ratio: 1.5),
                    only screen and (     -o-min-device-pixel-ratio: 3/2),
                    only screen and (        min-device-pixel-ratio: 1.5),
                    only screen and (min-resolution: 192dpi) {
                        background: url(assets/images/youtube_3x.png) no-repeat;
                        background-size: 100%;
                    }
                
                &:hover {
                    background: url(assets/images/youtube_hover.png) no-repeat;
                    
                    @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
                        only screen and (   min--moz-device-pixel-ratio: 1.5),
                        only screen and (     -o-min-device-pixel-ratio: 3/2),
                        only screen and (        min-device-pixel-ratio: 1.5),
                        only screen and (min-resolution: 192dpi) {
                            background: url(assets/images/youtube_hover_2x.png) no-repeat;
                            background-size: 100%;
                        }
            
                    @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
                        only screen and (   min--moz-device-pixel-ratio: 1.5),
                        only screen and (     -o-min-device-pixel-ratio: 3/2),
                        only screen and (        min-device-pixel-ratio: 1.5),
                        only screen and (min-resolution: 192dpi) {
                            background: url(assets/images/youtube_hover_3x.png) no-repeat;
                            background-size: 100%;
                        }
                }
            }
        }
    }
    
    .header-bottom {
        height: 72px;
        float: right;
        width: 50%;
    
        .site-title {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            width: 54px;
            height: 53px;
            
            a {
                display: inline-block !important;
                width: 54px;
                height: 53px;
                overflow: hidden;
            }
            
            .logo {
                display: inline-block;
                width: 54px !important;
                height: 53px !important;
                background: url(assets/images/logo.png) no-repeat;
                background-size: 100%;
                margin-right: 0;
                
                @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
                    only screen and (   min--moz-device-pixel-ratio: 1.5),
                    only screen and (     -o-min-device-pixel-ratio: 3/2),
                    only screen and (        min-device-pixel-ratio: 1.5),
                    only screen and (min-resolution: 192dpi) {
                        background: url(assets/images/logo_2x.png) no-repeat;
                        background-size: 100%;
                    }
        
                @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
                    only screen and (   min--moz-device-pixel-ratio: 1.5),
                    only screen and (     -o-min-device-pixel-ratio: 3/2),
                    only screen and (        min-device-pixel-ratio: 1.5),
                    only screen and (min-resolution: 192dpi) {
                        background: url(assets/images/logo_2x.png) no-repeat;
                        background-size: 100%;
                    }
            }
        }
        
        .header-search {
            
            .toggle-search {
                width: 22px;
                height: 22px;
                background: url(assets/images/zoom-icon.png) no-repeat; 
                position: relative;
                top: 25px;
                
                @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
                    only screen and (   min--moz-device-pixel-ratio: 1.5),
                    only screen and (     -o-min-device-pixel-ratio: 3/2),
                    only screen and (        min-device-pixel-ratio: 1.5),
                    only screen and (min-resolution: 192dpi) {
                        background: url(assets/images/zoom-icon.png) no-repeat;
                        background-size: 100%;
                    }
        
                @media  only screen and (-webkit-min-device-pixel-ratio: 1.5),
                    only screen and (   min--moz-device-pixel-ratio: 1.5),
                    only screen and (     -o-min-device-pixel-ratio: 3/2),
                    only screen and (        min-device-pixel-ratio: 1.5),
                    only screen and (min-resolution: 192dpi) {
                        background: url(assets/images/zoom-icon.png) no-repeat;
                        background-size: 100%;
                    }
            }
            
            form {
                display: none;
                position: absolute;
                top: 72px;
                left: -100%;
                width: 200%;
                height: 50px;
            }
        }
    }
}